[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andreas Schöneck (xasx)
[access "refs/for/refs/*"]
	read = group user/Andreas Schöneck (xasx)
	push = group user/Andreas Schöneck (xasx)
	label-Code-Review = -2..+2 group user/Andreas Schöneck (xasx)
	label-Verified = -1..+1 group user/Andreas Schöneck (xasx)
	rebase = group user/Andreas Schöneck (xasx)
	removeReviewer = group user/Andreas Schöneck (xasx)
	submit = group user/Andreas Schöneck (xasx)
[access "refs/heads/*"]
	read = group user/Andreas Schöneck (xasx)
	create = group user/Andreas Schöneck (xasx)
	push = +force group user/Andreas Schöneck (xasx)
	pushMerge = group user/Andreas Schöneck (xasx)
[access "refs/tags/*"]
	push = +force group user/Andreas Schöneck (xasx)
	pushTag = group user/Andreas Schöneck (xasx)
	pushSignedTag = group user/Andreas Schöneck (xasx)
